<% provide(:title, "About") %>
<div class="page-visual-about"></div>
<div class="description">
  <h2>Photravelとは</h2>
  <p>Photravelは、旅行で撮ったおしゃれな写真の共有サービスです。<br>おしゃれな写真を見ながらどこに旅行に行くか決めたり、<br>自分が旅行先で撮った写真を共有したりすることが出来ます。<br>なかなか旅行先が決まらないときはおしゃれな写真を見ながら旅行先を決めてみてください。</p>

</div>
<div class="about_service">
  <div class="about_service_title">
  	<h3>ABOUT SERVICE</h3>
  	<p class="sub">サービスについて</p>
  </div>
  <div class="tool_body">
  	<div class="lead_label">
  	  <span>Photravelでできること</span>
  	</div>
  	<div class="service_board">
  	  <div class="service_item">
  	  	<a href="/posts" class="service_title">Find where want to go</a>
  	  	<p>旅行で行きたい場所に迷ったことはありませんか？そんなときにはPhotravelで様々な場所のおしゃれな写真を見ながら、行きたい場所を見つけましょう。</p>
  	  </div>
  	  <div class="service_item">
  	  	<a href="/" class="service_title">Share my travel's photo</a>
  	  	<p>あなたが旅行で撮ったイチオシのおしゃれな写真をシェアできます。あなたの投稿が誰かの旅行に繋がるかもしれません。</p>
  	  </div>
  	  <div class="service_item">
  	  	<a href="" class="service_title">Excite travel</a>
  	  	<p>Photravelで行きたい場所を見つけたら、ぜひ実際に行ってみてください。あなたが旅行を楽しめることを願っています。</p>
  	  </div>
  	</div>
  </div>
</div>
<div class="page-visual-about-middle">
  <div class="filter-about">
    <div class="caption-about">
  	  <div class="lead_ja_about">あなたの行きたい場所がそこにある</div>
  	  <div class="lead_en_about">You want to travel there.</div>
  	</div>
  </div>
</div>
<div class="horizontal_scroll_wrap">
      <ul class="scroll_lst">
        <% @posts.each do |post| %>
          <li class="scroll_item">
            <a href="<%= post_path(id: post.id) %>" class="scroll_item_inr">
              <div class="grid">
                <div class="scroll_item_thum">
                  <figure class="effect-oscar">
                    <%= image_tag post.picture.url, :alt => "", :width => "480", :height => "252", :class => "alignnone size-medium wp-image-986 photravel-picture" %>
                  </figure>
                </div>
                <div class="scroll_item_info">
                  <a href="<%= post_path(id: post.id) %>" class="hover-color-to-post">
                    <span class="content">《<%= post.content %>》</span><span class="place"> |  <%= post.place %></span>
                  </a>
                  <div class="adjust_post">
                    <%= link_to gravatar_for(post.user, size: 30), post.user %>
                  <a href="<%= user_path(id: post.user_id) %>" class="hover-color-to-user">
                    <span class="post-user"><%= post.user.name %></span>
                  </a>
                  </div>
                </div>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>