<main class="page_content">			
  <div id="mainVisual" class="first_view_container">
  	<div class="cover main">
  	  <div class="filter">
  	  	<div class="caption">
  	  	  <div class="lead_ja">あなたの行きたい場所がそこにある</div>
  	  	  <div class="lead_en">You want to travel there.</div>
  	  	  <a href="/about/" class="btn_invert">CONCEPT</a>
        </div>
      </div>
    </div>
  </div>
  <div>
  	<h2>Photravel</h2>
    <div class="section_tools">
      <%= link_to "Photravel一覧", posts_path, :class => "section_link hide_sp" %>
    </div>
    <div class="horizontal_scroll_wrap">
      <ul class="scroll_lst">
        <% @posts.each do |post| %>
          <li class="scroll_item">
            <a href="" class="scroll_item_inr">
              <div class="grid">
                <div class="scroll_item_thum">
                  <figure class="effect-oscar">
                    <%= image_tag post.picture.url, :alt => "", :width => "400", :height => "210", :class => "alignnone size-medium wp-image-986 photravel-picture" %>
                  </figure>
                </div>
                <div class="scroll_item_info">
                  <div class="scroll_item_ttl">
                    <span class="content"><%= post.content %></span>
                  </div>
                  <span class="place"><%= post.place %></span>
                  <%= link_to gravatar_for(post.user, size: 40), post.user %>
                  <span class="user"><%= link_to post.user.name, post.user %></span>
                  <br>
                  <span class="timestamp">Posted <%= time_ago_in_words(post.created_at) %> ago.</span>
                </div>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <!-- <ul class="posts">
      <% @posts.each do |post| %>
        <li>
          <%= link_to gravatar_for(post.user, size: 50), post.user %>
          <span class="user"><%= link_to post.user.name, post.user %></span>
          <span class="content"><%= post.content %></span>
          <span class="picture"><%= image_tag post.picture.url %></span>
          <span class="timestamp">
            Posted <%= time_ago_in_words(post.created_at) %> ago.
          </span>
        </li>
      <% end %>
    </ul> -->
  </div>


</main>

