<% provide(:title, "Edit post") %>
<% provide(:url, post_path) %>
<% provide(:button_text, 'Save changes') %>
<h1>Update your post</h1>
<div class="row">
  <div class="col-md-6 edit_form">
    <%= render 'form' %>
  </div>
  <div class="col-md-6">
  	<div class="post_edit_picture">
      <%= image_tag @post.picture.url, :alt => "", :width => "360", :height => "225", :class => "alignnone size-medium wp-image-986 photravel-picture" %>
    </div>
    <div class="post_info post_edit">
      <h1 class="post_title"><span class="content">《<%= @post.content %>》</span>
      <span class="place"> | <%= @post.place %></span></h1>
      <div class="adjust_post">
        <div class="post_info_user">
          <%= link_to gravatar_for(@post.user, size: 30), @post.user %>
          <a href="<%= user_path(id: @post.user_id) %>" class="hover-color-to-user">
            <span class="post-user"><%= @post.user.name %></span>
          </a>
        </div>
        <div class="post_info_posts">
          <span class="timestamp">Posted <%= time_ago_in_words(@post.created_at) %> ago.</span>
        </div>
      </div>
    </div>
  </div>
</div>
