<header class="navbar navbar-fixed-tops">
  <div class="container">
    <nav id="pc-nav">
      <div class="app-name">
        <h1><%= link_to "photravel", root_path, id: "logo" %></h1>
      </div>
      
      
  	  <ul class="left-nav">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "About",  about_path %></li>
    	</ul>
      <ul class="right-nav">
        <li><%= link_to "Contact", contact_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Account", current_user %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header> 