<header id="fixed-header"> 
  <div class="container">
    <nav id="pc-nav">
      <div class="app-name">
        <h1><%= link_to image_tag('logo.png', style: "width: 274px; height: 42px;"), root_path, id: "logo"%></h1>
      </div>
  	  <ul class="left-nav">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "About",  about_path %></li>
    	</ul>
      <ul class="right-nav">
        <li><%= link_to "Contact", contact_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Account", current_user %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
